{# views/Artiste/photoProfile #}
{% set photoProfileFound = '0' %}
    {% for photo in artiste.Photos %}
        {% if photo.IsProfile == 1 %}
            <a class="artiste_picture_profil" title="{{artiste.idutilisateur.Pseudo}}" href="{{ asset('bundles/mcmegacasting/img/artiste/' ~ artiste.idutilisateur.Pseudo ~ '/' ~ photo.libelle)}}">
                <img  src="{{ asset('bundles/mcmegacasting/img/artiste/' ~ artiste.idutilisateur.Pseudo ~ '/' ~ photo.libelle)}}" height="auto" width="100px" alt="Artiste" />
            </a>
            {% set photoProfileFound = '1' %}
        {% endif %}
    {% endfor %}
    {% if photoProfileFound == "0" %}
        <a class="artiste_picture_profil" href="{{ asset('bundles/mcmegacasting/img/artiste/anonyme.jpg')}}">
            <img  src="{{ asset('bundles/mcmegacasting/img/artiste/anonyme.jpg')}}" height="100px" width="100px" alt="Artiste" />
        </a>
    {% endif %}