{# views/Artiste/update #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        Espace perso - Mise à jour   
    </div>
    <div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}        
        
        <div id="artiste">
            <div class="artiste_info">
                <div class="sous-titre">Informations générales</div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.datenaissance, "Date de naissance", {'label_attr': {'class': 'form-label'}}) }}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.datenaissance) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.datenaissance, {'attr': {'class': 'form-widget'}}) }}
                </div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.sexe, "Sexe", {'label_attr': {'class': 'form-label'}}) }}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.sexe) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.sexe, {'attr': {'class': 'form-widget'}}) }}
                </div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.domaine, "Domaine", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.domaine, {'attr': {'class': 'form-widget domaine'}}) }}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.domaine) }}
                </div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.metier, "Métier", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.metier, {'attr': {'class': 'form-widget metier'}}) }}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.metier) }}
                </div>
                <div class="form-row">
                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                    {{ form_widget(form.Sauvegarder, {'attr': {'class': 'bouton'}}) }}
                </div>
            </div>
        </div>        

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
</div>    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var $domaine = $('.domaine');
        // Pour un domaine selectionné
        $domaine.change(function(){
            // On retrouve le formulaire correspondant
            var $form = $(this).closest('form');
            // Données du formulaire qui va contenir que les libellés du domaine
            var data = {};
            data[$domaine.attr('name')] = $domaine.val();
            
            // Soummission des données via Ajax pour le chemin d'action du formulaire
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html) {
                    // Remplace la position actuelle du champ
                    $('.metier').replaceWith(
                            // Avec celui qui est retourné à partir de la réponse AJAX.
                            $(html).find('.metier')
                );
                    // Champ Métier affiche maintenant les métiers appropriés.
                }
            });
        });
    </script>
{% endblock %}
