{# views/Artiste/update #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        Espace perso - Mise à jour   
    </div>
    <div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}        
        
        <div id="artiste">
            <div class="artiste_info">
                <div class="sous-titre">Informations générales</div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.datenaissance, "Date de naissance", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.datenaissance, {'attr': {'class': 'form-widget'}}) }}
                    
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.datenaissance) }}
                </div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.sexe, "Sexe", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.sexe, {'attr': {'class': 'form-widget'}}) }}
                    
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.sexe) }}
                </div>
                <div class="form-row">
                    <div class='checkbox_list'>
                    {# Génération du label. #}
                    {{ form_label(form.metier, "Mes métiers :", {'label_attr': {'class': 'form-label'}}) }}                    
                    
                    {% for child in form.metier %}
                        <div>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                        </div>
                    {% endfor %}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.metier) }}
                    </div>
                </div>
                <div class="form-row">
                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                    {{ form_widget(form.Sauvegarder, {'attr': {'class': 'bouton'}}) }}
                </div>
            </div>
        </div>        

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
</div>    
{% endblock %}
