<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/mcmegacasting/css/index.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/mcmegacasting/css/mediaQueries.css')}}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header>
                <!-- Top-header -->
                <div class="row" id="top-header">
                    <a id='logo' href="{{ path('mc_mega_casting_homepage')}}"></a>
                    <nav>
                        <ul>
                            <li><a href="{{ path('mc_mega_casting_Offre_All')}}">Offre</a></li>
                            <li><a href="{{ path('mc_mega_casting_Artiste')}}">Artiste</a></li>
                            <li><a href="{{ path('mc_mega_casting_EspacePro')}}">Espace Pro</a></li>
                            <li><a href="{{ path('mc_mega_casting_EspacePerso')}}">Espace Perso</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Sub-header-->
                <div class="row" id='sub-header'>
                    <ul>
                        {% for domaine in liste_domaines %}
                            <li class='{{ domaine.Libelle }}' style=" background-image: url('{{ asset('bundles/mcmegacasting/img/domain/' ~ domaine.libelle ~ '.jpg')}}')" ><a href="{{ path('mc_mega_casting_Offre_Domaine',{ 'libelle_domaine' : domaine.Libelle})}}">{{ domaine.Libelle }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </header>
        {% block body %}{% endblock %}
            <footer>
                <!-- Footer left -->
                <div class="footer-left">
                    <span>Mentions légales <br/>
                          Copyright@ 2015 <br/>
                          MegaCasting
                    </span>
                </div>
                <!-- Footer-right -->
                <div class="footer-right">
                    <span>Suivez nous sur les réseaux sociaux</span>
                    <div class="rs_logo">
                        <a href="#"><img src="{{asset('bundles/mcmegacasting/img/socialNetwork/rs_f.png')}}" alt="facebook" /></a>
                        <a href="#"><img src="{{asset('bundles/mcmegacasting/img/socialNetwork/rs_t.png')}}" alt="twitter" /></a>
                        <a href="#"><img src="{{asset('bundles/mcmegacasting/img/socialNetwork/rs_g.png')}}" alt="google+" /></a>
                    </div>
                </div>
            </footer> 
        {% block javascripts %}
            <!-- jQuery library (served from Google) -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        {% endblock %}
        
        </div>
    </body>
</html>
