{# views/EspacePro/index #}
{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        Espace pro de  {{ app.user.username }}  
    </div>
    <div id="artiste">
        <div class="artiste_info">
            <div class="info_compte">
                <span class="sous-titre">Informations du compte</span>
                <span class="artiste_name">Pseudo : {{ app.user.username }}</span>
                <span>Mail : {{ app.user.email }}</span>
                <span>Mot de passe : *****</span>
                <span class="lien_modifier">
                    <a href="{{ path('mc_mega_casting_user_update') }}">
                        Modifier</a>
                </span>
            </div>
            <div class="artiste_info_generale">
                <span class="sous-titre">Informations société</span> 
                {% if annonceur %}
                    <span>Numéro siret : 
                        {% if annonceur.NumeroSiret %} 
                            {{ annonceur.NumeroSiret }} 
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span>Raison sociale : 
                        {% if annonceur.RaisonSociale %} 
                            {{ annonceur.RaisonSociale }} 
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span>Email : 
                        {% if annonceur.Email %} 
                            {{ annonceur.Email }} 
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span>Téléphone : 
                        {% if annonceur.Telephone %} 
                            {{ annonceur.Telephone }} 
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span class="lien_modifier">
                        <a href="{{ path('mc_mega_casting_EspacePro_update', {'type_info': 'general'}) }}">
                            Modifier</a>
                    </span>
                {% else %}
                    {% for role in app.user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            <span>Compte administrateur</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}    
            </div>
            <div class="artiste_info_generale">
                <span class="sous-titre">Adresse société</span> 
                {% if annonceur %}
                    <span>N° de voie : 
                        {% if annonceur.Adresse and annonceur.Adresse.Numero %} 
                            {{ annonceur.Adresse.Numero }}
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span>Nom de la voie : 
                        {% if annonceur.Adresse and annonceur.Adresse.Rue %} 
                            {{ annonceur.Adresse.Rue }}
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span>Code postal : 
                        {% if annonceur.Adresse and annonceur.Adresse.CodePostal %}
                            {{ annonceur.Adresse.CodePostal }}
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span>Ville : 
                        {% if annonceur.Adresse and annonceur.Adresse.Ville %}
                            {{ annonceur.Adresse.Ville }} 
                        {% else %} Non renseigné {% endif %}
                    </span>
                    <span class="lien_modifier">
                        <a href="{{ path('mc_mega_casting_EspacePro_update', {'type_info': 'adresse'}) }}">
                            Modifier</a>
                    </span>
                {% else %}
                    {% for role in app.user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            <span>Compte administrateur</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="artiste_info_generale">
                <span class="sous-titre">Offres</span>
                {% if annonceur %}
                    <span class="lien_modifier">
                        <a href="{{ path('mc_mega_casting_Offre_Add') }}">
                            Ajouter une offre
                        </a>
                    </span>
                {% else %}
                    Compte administrateur
                {% endif %}                
            </div>
        </div>        
    </div>
</div>    
{% endblock %}