{# src/MC/MegaCastingBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    {# On affiche le message de confirmation de la creation de l'offre s'il existe #}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="message_confirmation">
            <span id="message_contenu">{{ flashMessage }}</span>
        </div>
    {% endfor %}
    
    <div class="mainConteneur">
        <div class="slider">
            <ul class="rslides">
              <li><img src="{{asset('bundles/mcmegacasting/img/slider/ange.png')}}" /></li>
              <li><img src="{{asset('bundles/mcmegacasting/img/slider/bioshock.png')}}" /></li>
              <li><img src="{{asset('bundles/mcmegacasting/img/slider/design.png')}}" /></li>
              <li><img src="{{asset('bundles/mcmegacasting/img/slider/robot.png')}}" /></li>
            </ul>
        </div>
        <div id="sub-main">
            <section id="artistes">
                <h3>Artistes</h3>
                {% include 'MCMegaCastingBundle:Artiste:liste.html.twig' %}
            </section>
            <section id="castings">
                <h3>Derniers Castings</h3>
                {{ include("MCMegaCastingBundle:Offre:liste.html.twig", liste_offres) }}
            </section>
        </div>
        <section class="clear" id="partenaires">
            <h4>Voici les partenaires qui nous font confiance</h4>
            <div id="list">
                <a class="partenaire">
                    <img src="{{ asset('bundles/mcmegacasting/img/partenaires/FRANCE4.jpg')}}" height="50px" width="50px" />
                </a>
                <a class="partenaire">
                    <img src="{{ asset('bundles/mcmegacasting/img/partenaires/TF1jpg.jpg')}}" height="50px" width="50px" />
                </a>
                <a class="partenaire">
                    <img src="{{ asset('bundles/mcmegacasting/img/partenaires/direct8.jpg')}}" height="50px" width="50px" />
                </a>
                <a class="partenaire">
                    <img src="{{ asset('bundles/mcmegacasting/img/partenaires/w9.jpg')}}" height="50px" width="50px" />
                </a>
            </div>
        </section>
    </div>
    
{% endblock %}

{% block javascripts %}
    {# Inclue le script javascript de la page parente #}
    {{ parent() }}
        <script src="{{ asset('bundles/mcmegacasting/js/ResponsiveSlides.js-master/responsiveslides.min.js')}}"></script>
        <script>
            $(function() {
              $(".rslides").responsiveSlides({
                  speed : 1000,
                  nav   : true,
                  pagination : true,
                  fade  : 500,                  
              });
            });
        </script>
{% endblock %}