{# views/Offre/view #}

{% extends '::base.html.twig' %}

{% block body %}
    <div class="mainConteneur">
        <div class="titre_view">
            CASTING
        </div>
        <div id="offre">
            <div class="row">
                <span id="intitule">{{ offre.intitule }}</span>
                <span id="reference" class="left"><label> Référence : </label>{{ offre.reference }}</span>
                <span id="datePublication"><label>Date de la Publication : </label>{{ offre.datepublication|date('d/m/Y') }}</span>
            </div>
            <div class="row center">
                <span class="row_title">Informations complémentaires :</span>
                <span id="domaine"><label>Domaine :  </label>{{ offre.domaine.libelle }}</span>
                <span id="metier"><label>Métier : </label>{{ offre.metier.libelle }}</span>
                <span id="typeContrat"><label>Type de Contrat : </label>{{ offre.typecontrat.libelle }}</span>
                <span id="annonceur"><label>Annonceur : </label>{{ offre.annonceur.raisonsociale }}</span>
            </div>
            <div class="row center">
                <span class="row_title">Informations générales :</span>
                <span id="nombresPostes"><label>Nombre de postes : </label>{{ offre.nbposte}}</span>
                <span id="descriptionPoste"><label>Description du poste : </label>{{ offre.descriptionposte }}</span>
                <span id="descriptionProfil"><label>Description du profil : </label>{{ offre.descriptionprofil }}</span>
                <span id="dureeDiffusion"><label>Durée de la publication : </label>{{ offre.dureediffusion }} {{ offre.dureediffusion > 1 ? 'jour' != 'jours' }}</span>
                <span id="dateDebutCOntrat"><label>Date de début du contrat : </label>{{ offre.datedebutcontrat|date('d/m/Y') }}</span>
            </div>
            <div class="row center">
                <span class="row_title">Contact :</span>
                <span id="longitude"><label>Longitude : </label>{{ offre.localisationlattitude }}</span>
                <span id="lattitude"><label>Lattitude : </label>{{ offre.localisationlongitude }}</span>
                <span id="email"><label>Email : </label>{{ offre.email }}</span>
                <span id="telephone"><label>Telephone : </label>{{ offre.telephone }}</span>
            </div>
            
            {% if app.user %}
                {% for role in  app.user.roles %}
                    {% if role == 'ROLE_ARTISTE' %}
                        <div class="row center">
                            <a href="{{ path('mc_mega_casting_Offre_Postuler', {'id_offre':offre.id,'type_info':'valider'})}}">Postuler</a>
                        </div>
                    {% endif%}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
{% endblock %}
