{# views/Offre/view #}

{% extends '::base.html.twig' %}

{% block body %}
    <div class="mainConteneur">
        <div class="titre_view">
            CASTING
        </div>
        <div id="offre">
            <div class="row">
                <span id="intitule">{{ offre.intitule }}</span>
                <span id="reference"><label> Référence : </label>{{ offre.reference }}</span>
                <span id="datePublication"><label>Date de la Publication : </label>{{ offre.datepublication|date('d/m/Y') }}</span>
            </div>
            <div class="row center">
                <span class="row_title">Informations complémentaires :</span>
                <span id="domaine"><label>Domaine :  </label>{{ offre.iddomaine.libelle }}</span>
                <span id="typeContrat"><label>Type de Contrat : </label>{{ offre.idmetier.libelle }}</span>
                <span id="annonceur"><label>Annonceur : </label>{{ offre.id }}</span>
            </div>
            <div class="row center">
                <span class="row_title">Informations générales :</span>
                <span id="nombresPostes"><label>Nombre de postes : </label>{{ offre.nbposte}}</span>
                <span id="descriptionPoste"><label>Description du poste : </label>{{ offre.descriptionposte }}</span>
                <span id="descriptionProfil"><label>Description du profil : </label>{{ offre.descriptionprofil }}</span>
                <span id="dureeDiffusion"><label>Durée de la publication : </label>{{ offre.dureediffusion }} {{ offre.dureediffusion > 1 ? 'jour' != 'jours' }}</span>
                <span id="dateDebutCOntrat"><label>Date de début du contrat : </label>{{ offre.datedebutcontrat|date('d/m/Y') }}</span>
            </div>
            <div class="row center">
                <span class="row_title">Contact :</span>
                <span id="longitude"><label>Longitude : </label>{{ offre.localisationlattitude }}</span>
                <span id="lattitude"><label>Lattitude : </label>{{ offre.localisationlongitude }}</span>
                <span id="email"><label>Email : </label>{{ offre.email }}</span>
                <span id="telephone"><label>Telephone : </label>{{ offre.telephone }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
{% endblock %}
