{# views/Security/register #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="mainConteneur">
    <div class="titre_view">
        INSCRIPTION     
    </div>
    <div class="formulaire">
        <div id="artiste">
            <div class="artiste_info">
                <div class="sous-titre">{{ type_user|upper }}</div>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.username, "Login", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.username, {'attr': {'class': 'form-widget'}}) }}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.password.first, "Mot de passe", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-widget'}}) }}
                    
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.password.first) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.password.second) }}
                </div>  
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.password.second, "Confirmation mot de passe", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-widget'}}) }}
                </div> 
                <div class="form-row">
                    {# Génération du label. #}
                    {{ form_label(form.email, "Email", {'label_attr': {'class': 'form-label'}}) }}

                    {# Génération de l'input. #}
                    {{ form_widget(form.email, {'attr': {'class': 'form-widget'}}) }}
                    
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.email) }}
                </div> 

                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                {{ form_widget(form.Inscription, {'attr': {'class': 'bouton'}}) }}

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>    
{% endblock %}

